body {
  font-family: "微軟正黑體";
}

#background {
  height: 100vh;
  width: 100vw;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
}
#background:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);
}

.container {
  position: relative;
  min-height: 80vh;
  top: 75px;
}

.main-menu > li {
  width: 130px;
  margin: 0 10px;
  text-align: center;
  position: relative;
  transition: all 0.1s;
  cursor: pointer;
}

.border-b-w:hover {
  border-bottom: 2px solid #fff;
}

.main-menu > li:hover .sub_menu {
  display: block;
}

.sub_menu {
  position: absolute;
  display: none;
  left: 0px;
  top: 39px;
  list-style: none;
  font-size: 14px;
  padding: 0;
  color: rgba(255, 255, 255, 0.75);
}

.sub_menu > li {
  width: 130px;
  margin: 0;
  padding: 0.5em 0;
  display: block;
  transition: all 0.25s;
}

.sub_menu > li > a {
  color: #fff;
}

.sub_menu > li:hover {
  background: rgba(255, 255, 255, 0.25);
}

header {
  height: 75px !important;
}

#accountInfo {
  color: #fff;
  font-size: 14px;
}

#accountInfo > span:nth-child(1) {
  border-right: 2px solid #fff;
  height: 40px;
}

#accountInfo a {
  color: #f89d13;
}

#accountInfo a:hover {
  color: #4f45e3;
}

header.theme2 {
  background: #fff !important;
  font-weight: bolder;
  color: #000 !important;
  box-shadow: 0 4px 0 2px rgba(255, 255, 255, 0.75);
  height: 80px !important;
}

header.theme2 .site-logo a {
  color: #000 !important;
}

header.theme2 .main-menu a {
  color: #000 !important;
}
header.theme2 .main-menu li:hover > a {
  color: #fff !important;
}

header.theme2 .sub_menu li {
  background: #fff !important;
}

header.theme2 #accountInfo {
  color: #000;
}

header.theme2 .main-menu li:hover {
  background: linear-gradient(135deg, #f89d13, #ff6a00) !important;
  color: #fff !important;
  border: none !important;
}

header.theme2 .sub_menu {
  left: -3px;
  border: solid 3px #f89d13;
}

.text-we-bold {
  font-weight: bold !important;
}

.text-black {
  color: #111 !important;
}
.text-white {
  color: #fff !important;
}
.cur-pointer {
  cursor: pointer;
}

.text-family-b {
  font-family: "微軟正黑體";
}

#copyright {
  color: #fff;
}

.btn-primary {
  background: #f89d13;
  border-color: #f89d13;
}

.ob-b {
  background-color: #f89d13;
}

.ob-b:hover {
  background-color: #4f45e3;
}
.ob {
  color: #f89d13 !important;
}

.ob:hover {
  color: #4f45e3 !important;
}

#messageAlter {
  width: 360px;
  height: 100px;
  background: #fff;
  top: calc(50% - 50px);
  left: calc(50% - 180px);
  box-shadow: 0 5px 15px #999;
  font-weight: bolder;
  text-align: center;
  border-radius: 5px;
  transition: transform 0.25s;
  position: fixed;
  border: solid 2px #f89d13;
}

#message {
  height: 16px;
  line-height: 16px;
  font-size: 16px;
}

#alter_close {
  width: 80px;
  height: 30px;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  line-height: 28px;
}

#containerBlock {
  background: #fff;
  width: 100%;
  min-height: 500px;
  display: inline-block;
  text-align: center;
  margin-top: 3em;
  padding: 1em;
  position: relative;
  z-index: 0;
}
#containerBlock:before {
  position: absolute;
  top: -10px;
  left: -10px;
  content: "";
  width: calc(100% + 20px);
  height: calc(100% + 20px);
  background: transparent;
  border: 2px solid #fff;
  z-index: -1;
}

.functionPageBlock {
  margin: 0 0 50px 0;
}

#optionBlock {
  width: 100%;
  padding: 0 5%;
}

#optionBlock span {
  font-weight: bolder;
  margin-right: 1%;
}

#optionBlock button {
  display: inline !important;
  margin-top: -3px;
  margin-left: 5%;
  transform: scale(0.8);
}

#optionBlock .cus-control-25 {
  margin-right: 2% !important;
}

#queryReport {
  margin: 0 auto;
}

.cus-control-50 {
  max-width: 50%;
  cursor: pointer;
  transition: all 0.25s;
}
.cus-control-25 {
  max-width: 25%;
  cursor: pointer;
  transition: all 0.25s;
  display: inline;
}

.cus-control:hover {
  background: #fff;
}
