{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
    關於我們
{% endblock title %}


{% block header %}
    {% if login %}
        {% include "headerLogin.html" %}
    {% else %}
        {% include "header.html" %}
    {% endif %}
{% endblock header %}

{% block headerTheme %}
theme2
{% endblock headerTheme %}

{% block style %}
<style>
#teamMember{
    z-index:-1;
}
#teamMember .row{
    height:40vh;
    padding-top:5vh;
    justify-content: space-around;
    font-size:24px;
}
.filp{
    height:35vh;
    flex:0 0 25%;
    display:flex;
}
#teamMember .col{
    height:100%;
    width:100%;
    border-radius:5px;
    text-align:center;  
    backface-visibility:hidden;
    transition:all .5s;
    transform-style:preserve-3d;
    position:relative;
}
.side{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    padding:3vh 1vw;
    border-radius: 5px;
}
.front{
    background-color:#fff;
    color: #111!important;
}
.back{
    transform:rotateY(180deg);
    color:#fff!important;
    background:linear-gradient(135deg, #f89d13,#ff6a00);
    /*backface-visibility:hidden;*/
}
#teamMember img{
    border-radius:5px;
    background-size:cover;
    width:240px;
    height:180px;
}
#teamMember hr{
    margin:1rem 0 .5rem 0;
}
#teamMember span{
    font-weight:bolder;
}
.filp:hover .col{
    transform:rotateY(180deg);
}
.filp p{
    color:#fff!important;
}

</style>
{% endblock style %}


{% block container %}
<div id="teamMember">
    <div class="row">
        <div class="filp">
            <div class="col">
                <div class="front side">
                    <img src="{% static 'images/'%}B10609027.jpg" alt="">
                    <hr>
                    <span>吳芷昀</span>
                </div>
                <div class="back side">
                    <p>
                    我是一隻貓
                    </p>
                </div>
            </div>
        </div>
        <div class="filp">
            <div class="col">
                <div class="front side">
                    <img src="{% static 'images/'%}B10630349.jpg" alt="">
                    <hr>
                    <span>朱梓蕓</span>
                </div>
                <div class="back side">
                    <p>
                    我是一隻朱
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="filp">
            <div class="col">
                <div class="front side">
                    <img src="{% static 'images/'%}B10609047.jpg" alt="">
                    <hr>
                    <span>李政翰</span>
                </div>
                <div class="back side">
                    <p>
                    If the actually observed sample is not close to the expect sample under hypothesis, <br>
                    then we tend to reject the hypothesis.
                    </p>
                </div>
            </div>
        </div><div class="filp">
            <div class="col">
                <div class="front side">
                    <img src="{% static 'images/'%}B10609013.jpg" alt="">
                    <hr>
                    <span>郭旭</span>
                </div>
                <div class="back side">
                    <p>
                    Always sleeping, <br>never wake up.
                    </p>
                </div>
            </div>
        </div><div class="filp">
            <div class="col">
                <div class="front side">
                    <img src="{% static 'images/'%}B10609002.jpg" alt="">
                    <hr>
                    <span>李丞彥</span>
                </div>
                <div class="back side">
                    <p>
                    腦袋開始崩潰。<br>
                    Your brain was crashed.<br>
                    Do you want to reload your life?
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock container %}