<!--查看分店銷售報表頁面-->
{% extends "function.html" %}

{% block title %}分店營運概況{% endblock title %}

{% block optionBlock %}
    月份：
    <select id="month" value="1" class="cus-control-25 text-family-b form-control mt-2 mx-auto">
        <option value="1">January</option>
        <option value="2">February</option>
        <option value="3">March</option>
        <option value="4">April</option>
        <option value="5">May</option>
        <option value="6">June</option>
        <option value="7">July</option>
        <option value="8">August</option>
        <option value="9">September</option>
        <option value="10">October</option>
        <option value="11">November</option>
        <option value="12">December</option>
    </select>
    分店代碼：
    <select id="branchId" value="1" class="cus-control-25 text-family-b form-control mt-2 mx-auto">
        {% for branchId in branchIds %}
        <option value="{{branchId}}">{{branchId}}</option>
        {% endfor %}
    </select>
    <button id="query" class="btn btn-primary btn-pill ob-b">Query</button>
{% endblock optionBlock %}

{% block contentBlock %}
    <table id="queryReport">
    </table>
{% endblock contentBlock %}

{% block script %}
    <script>
    function responseHandle(data, status) {
        if (status == 'success') {
            var dataObj = JSON.parse(data);
            setMessage('無符合資料！');
            if (dataObj.queryFlag){
                setMessage('查詢成功！');
                createOperationTable('queryReport',dataObj,true);
            }
            showMessage();
        }else{
            setMessage('不知名錯誤！');
            showMessage();
        }
    }
    function queryHandle() {
        const month = $('#month').val();
        const branchId = $('#branchId').val();
        const data = { 'month': month, 'branchId': branchId, 'csrfmiddlewaretoken': '{{ csrf_token }}' };
        $.post('action/', data, responseHandle);
    }
    $('#query').click(queryHandle)
  </script>
{% endblock script %}