<div class="container-fluid">
    <div class="d-flex align-items-center">
        <div class="site-logo mr-auto w-25"><a href="/index">SaltTea</a></div>
        <div class="mx-auto text-center">
            <nav class="site-navigation position-relative text-right" role="navigation">
                <ul class="site-menu main-menu js-clone-nav mx-auto d-none d-lg-block  m-0 p-0" id="function_menu">
                    <!--<li class="position-relative border-b-w"><a href="" class="nav-link">Home</a></li>-->
                    <li class="position-relative border-b-w"><a href="index/product" class="nav-link">Product</a></li>
                    <li class="position-relative border-b-w"><a href="index/about" class="nav-link">AboutUs</a></li>
                    <li class="position-relative border-b-w"><a href="index/login" class="nav-link">More</a></li>
                </ul>
            </nav>
        </div>

        <div class="ml-auto w-25">
            <nav class="site-navigation position-relative text-right" role="navigation" id="accountInfo">
                <ul class="site-menu main-menu site-menu-dark js-clone-nav mr-auto d-none d-lg-block m-0 p-0">
                    <li class="cta">
                        <a href="index/login" class="nav-link "><span class="ob-b">Sing In</span></a></li>
                </ul>
            </nav>
            <a href="#" class="d-inline-block d-lg-none site-menu-toggle js-menu-toggle text-black float-right"><span
                    class="icon-menu h3"></span></a>
        </div>
    </div>
</div>