{% extends "function.html" %}

{% block title %}上傳各項報表{% endblock title %}

{% block optionBlock %}
<div class="mt-4 text-we-bold">報表類型
  <select id="category" value="sales" class="cus-control-50 text-family-b form-control mt-2 mx-auto">
    <option value="sales">日銷售報表</option>
    <option value="salary">薪資費用表</option>
    <option value="purchase">進貨費用表</option>
    <option value="utility">店租水電費用表</option>
  </select>
</div>
<div class="mt-4 text-we-bold ">
  上傳檔案
  <input type="file" id="file" enctype="multipart/form-data" multiple accept=".xlsx" class="cus-control-50 form-control mt-2 mx-auto">
</div>
<button class="btn btn-primary btn-pill mx-auto mt-5 ob-b" id="upload">Upload</button>
{% endblock optionBlock %}

{% block script %}
<script>
  function responseHandle(data, status) {
    if (status == 'success') {
      var dataObj = JSON.parse(data);
      setMessage(dataObj.msg);
      showMessage();
    }
  }
  function uploadHandle() {
    const category = $('#category').val();
    const file = $('#file').val();
    const data = { 'category': category, 'file': file, 'csrfmiddlewaretoken': '{{ csrf_token }}' };
    $.post('action/', data, responseHandle);
  }
  $('#upload').click(uploadHandle)
</script>
{% endblock script %}